@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap");

:root {
  --primary: #04192e;
  --secondary: #03213b;
  --third : #CCA944;
}

body {
  background-color: var(--primary);
  font-family: 'Lato', sans-serif;
  
}
#root {
  width: 90%;
  margin: auto;
  
}
.primaryBtn {
  
  @apply font-bold w-full flex justify-center items-center gap-2 py-4 bg-[#111] rounded-lg cursor-pointer
  
}
.primaryBtn:hover{
 opacity: 0.5;
}


.secondaryBtn {
  @apply font-bold w-full flex justify-center items-center gap-2 py-4 bg-[var(--third)] rounded-lg text-[var(--primary)] cursor-pointer
}
.secondaryBtn:hover{
  opacity: 0.5;
}
.full-width-modal {
  width: 900px;
  .ant-modal-content {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0;
  }
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


